# Ignore these files

# Ignore these directories
patches
.minecraft/.cache
.minecraft/config
.minecraft/coremods
.minecraft/crash-reports
.minecraft/Distant_Horizons_server_data
.minecraft/logs
.minecraft/mod_data
.minecraft/patchouli_books
.minecraft/resourcepacks
.minecraft/saves 
.minecraft/schematics 
.minecraft/screenshots 
.minecraft/server-resource-packs 
.minecraft/shaderpacks/*.txt
.minecraft/texturepacks
.minecraft/xaero 
.minecraft/XaeroWaypoints
.minecraft/XaeroWaypoints_BACKUP*
.minecraft/XaeroWorldMap
# Allow these files
!.minecraft/resourcepacks/FreshAnimations_v1.9.2.zip
!.minecraft/resourcepacks/JustExpressions_v1.1.zip
# Allow these directories
!.minecraft/Distant_Horizons_server_data/PolyMC/*
!.minecraft/xaero/world-map/Multiplayer_polymc.leahkeenwood.com/*
!.minecraft/xaero/minimap/Multiplayer_polymc.leahkeenwood.com/*
