.minecraft/.cache
.minecraft/XaeroWaypoints
.minecraft/XaeroWaypoints_BACKUP032021
.minecraft/XaeroWorldMap
.minecraft/config
.minecraft/coremods
.minecraft/defaultconfigs
.minecraft/irisUpdateInfo.json
.minecraft/options.txt
.minecraft/patchouli_books
.minecraft/patchouli_data.json
.minecraft/saves
.minecraft/schematics
.minecraft/screenshots
.minecraft/server-resource-packs
.minecraft/servers.dat_old
.minecraft/texturepacks
.minecraft/usercache.json
.minecraft/usernamecache.json
libraries
/.minecraft/logs
/.minecraft/crash-reports
